.login {
  /* float: right; */
  padding: 7rem 0rem 0.1rem 0rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_login {
  padding: 2rem 3rem 2rem 3rem;
  width: 20rem;
  height: 20.5rem;
  border: 1.5px solid #e9ebec;
  display: block;
  border-radius: 3px;
  margin-bottom: 1rem;
  background-color: #e9ebec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user_login h2 {
  padding-bottom: 1.5rem;
  text-align: center;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_form input {
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #aeb1b3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  font-family: "Archivo Narrow", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
}

.login_form input::placeholder {
  padding-left: 8px;
  font-size: medium;
  color: #bdc2ca;
}

.login_form button {
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffe5b4;
  padding-bottom: 2px;
  margin-top: -15px;
  margin-bottom: 7px;
}

.login_form button:hover {
  cursor: pointer;
  opacity: 0.9;
  translate: 5s;
  color: #ffffff;
}

/* #checkbox {
  padding-top: -2px;
  padding-left: -10rem;
  font-size: 5px;
  color: #000000;
  font-family: "Archivo Narrow", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
} */

.more_option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
  font-size: 15px;
}

.more_option p.forgot {
  color: #ff0000;
  font-weight: 900;
  text-decoration: underline;
}

.sign_up p span {
  color: #1f4690;
  font-weight: 900;
}

p.socials {
  margin-top: 2rem;
  font-size: 13px;
}

.terms {
  padding-top: -10rem;
  text-align: center;
  font-size: 13px;
}

/* MEDIA QUERY */
@media (max-width: 960px) {
  .login {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .terms {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .login {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .user_login {
    padding: 2rem 3rem 2rem 3rem;
    width: 20rem;
  }

  .terms {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .login {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .user_login {
    width: 14rem;
    height: 19.5rem;
  }

  .user_login h2 {
    font-size: 22px;
  }

  .login_form input {
    width: 16rem;
  }

  .login_form button {
    width: 16rem;
  }

  .user_login input,
  button {
    margin-left: -1rem;
  }

  .more_option {
    font-size: 13px;
  }

  .terms {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .login {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .user_login {
    width: 14rem;
    height: 19.5rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .user_login h2 {
    font-size: 20px;
  }

  .login_form input {
    width: 14rem;
  }

  .login_form button {
    width: 14rem;
  }

  .user_login input,
  button {
    margin-left: 0rem;
  }

  .more_option {
    font-size: 12px;
  }

  .terms {
    font-size: 10px;
  }
}
