.gen_btn {
  margin-bottom: 7rem;
  text-align: left;
  padding-left: 8rem;
}

.gen_btn button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #1f4690;
  background-color: #1f4690;
  color: #ffffff;
  font-weight: 900;
  font-size: 15px;
  padding-bottom: 2px;
  font-family: "Archivo Narrow", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
}

.gen_btn button:hover {
  cursor: pointer;
  opacity: 0.9;
  translate: 5s;
  color: #000000;
}

/* MEDIA QUERY */
@media (max-width: 960px) {
}

@media (max-width: 768px) {
  .gen_btn {
    margin-bottom: 7rem;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 425px) {
}
@media (max-width: 320px) {
}
