.foot {
  text-align: left;
  background-color: #000000;
  color: #bdc2ca;
  padding: 45px 10px 15px 10px;
  font-size: 15px;
}
.foot_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.foot_flex img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.foot_flex img:hover {
  cursor: pointer;
  opacity: 0.7;
  translate: 5s;
}

.foot_item h2 {
  font-weight: 900;
  text-align: left;
  font-size: 15px;
  margin-bottom: 4px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.whatsapp {
  color: #00ff00;
}

.twitter {
  color: #1f4690;
}

.email {
  color: #ff0000;
}
.foot_item input {
  width: 15vw;
  height: 4vh;
  border-radius: 10px 0 0 10px;
  border: 1px solid #aeb1b3;
  font-weight: 900;
  padding-bottom: 2px;
  margin-top: 7px;
  font-family: "Archivo Narrow", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
}

.foot_item input::placeholder {
  padding-left: 8px;
  font-size: small;
  color: #bdc2ca;
}

.foot_item button {
  width: 5vw;
  height: 4.5vh;
  border-radius: 0 10px 10px 0;
  border: 1px solid #efb700;
  background-color: #efb700;
  color: #1f4690;
  font-weight: 900;
  padding-bottom: 2px;
  font-family: "Archivo Narrow", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
}

.foot_item button:hover {
  cursor: pointer;
  opacity: 0.9;
  translate: 5s;
  color: #ffffff;
}

.copy {
  padding-top: 5rem;
  text-align: center;
  font-weight: 900;
  font-size: 10px;
}

/* MEDIA QUERY */
@media (max-width: 960px) {
  .foot_item input {
    width: 25vw;
  }

  .foot_item button {
    width: 10vw;
    height: 4.7vh;
    padding-bottom: 2px;
  }
}

@media (max-width: 768px) {
  .foot_item input {
    width: 20vw;
  }

  .foot_item button {
    width: 8vw;
    padding-bottom: 2px;
  }

  .foot_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .foot_item h2 {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .foot_item input {
    width: 30vw;
  }

  .foot_item button {
    width: 13vw;
    padding-bottom: 2px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .foot_item input {
    width: 38vw;
  }

  .foot_item button {
    width: 16vw;
    font-size: 12px;
  }
}
