.signup {
  /* float: right; */
  padding: 7rem 0rem 0.1rem 0rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_signup {
  padding: 1.5rem 3rem 2rem 3rem;
  width: 26rem;
  height: 20.5rem;
  border: 1.5px solid #e9ebec;
  display: block;
  border-radius: 3px;
  margin-bottom: 1rem;
  background-color: #e9ebec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user_signup h2 {
  padding-bottom: 1rem;
  text-align: center;
}

.signup_form {
  display: flex;
  flex-direction: column;
}

.signup_form input {
  width: 26rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #aeb1b3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1.2rem;
  font-family: "Archivo Narrow", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
}

.signup_form input::placeholder {
  padding-left: 8px;
  font-size: medium;
  color: #bdc2ca;
}

.signup_form .form_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_flex input:first-child {
  width: 20vw;
}

.form_flex input:last-child {
  width: 15vw;
  margin-left: 1rem;
}
.signup_form button {
  width: 26rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffe5b4;
  padding-bottom: 2px;
  margin-top: -2px;
  margin-bottom: 7px;
}

.signup_form button:hover {
  cursor: pointer;
  opacity: 0.9;
  translate: 5s;
  color: #ffffff;
}

/* #checkbox {
    padding-top: -2px;
    padding-left: -10rem;
    font-size: 5px;
    color: #000000;
    font-family: "Archivo Narrow", sans-serif;
    font-family: "Fira Sans", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Zen Kurenaido", sans-serif;
  } */

.sign_up p {
  text-align: center;
  font-size: 13px;
}

.sign_up p span {
  color: #1f4690;
  font-weight: 900;
}

p.socials {
  margin-top: 1rem;
  font-size: 13px;
}

.terms {
  padding-top: -10rem;
  text-align: center;
  font-size: 13px;
}

/* MEDIA QUERY */
@media (max-width: 960px) {
  .signup {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .terms {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .signup {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .user_signup {
    padding: 1rem 3rem 2rem 3rem;
  }

  .user_signup h2 {
    padding-bottom: 0.5rem;
    margin-top: -1rem;
    font-size: 1.4rem;
  }

  .signup_form input {
    width: 20rem;
    margin-bottom: 0.7rem;
  }

  .signup_form .form_flex {
    display: flex;
    flex-direction: column;
  }

  .signup_form .form_flex input {
    width: 20rem;
  }

  .form_flex input:last-child {
    margin-left: 0rem;
  }

  .user_signup {
    padding: 2rem 3rem 2rem 3rem;
    width: 20rem;
  }

  .signup_form button {
    width: 20rem;
  }

  .terms {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .signup {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .user_signup {
    width: 14rem;
    height: 19.5rem;
  }

  .user_signup h2 {
    padding-bottom: 0.4rem;
    margin-top: -1.1rem;
    font-size: 1rem;
  }

  .signup_form input {
    width: 16rem;
  }

  .signup_form button {
    width: 16rem;
  }

  .user_signup input,
  button {
    margin-left: -1rem;
  }
  .signup_form .form_flex input {
    width: 16rem;
  }

  .form_flex input:last-child {
    margin-left: -1rem;
  }

  p.socials {
    margin-top: 0.8rem;
  }

  .terms {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .signup {
    padding: 7rem 0rem 0.1rem 0rem;
  }

  .user_signup {
    width: 14rem;
    height: 19.5rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .user_signup h2 {
    padding-bottom: 0.4rem;
    margin-top: -1.1rem;
    font-size: 1rem;
  }

  .signup_form input {
    width: 14rem;
  }

  .signup_form button {
    width: 14rem;
  }

  .user_signup input,
  button {
    margin-left: 0rem;
  }

  .signup_form .form_flex input {
    width: 14rem;
  }

  .form_flex input:last-child {
    margin-left: 0rem;
  }

  p.socials {
    margin-top: 0.8rem;
  }

  .term {
    font-size: 10px;
  }
}
